body{
    margin: o;
}

*{
    box-sizing: border-box;
}

.container{
    max-width: 800px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.container-list{
    max-width: 800px;
    width: 100%;
    background-color: white;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
.header-first-column{
    width: 80%;
}
.header-second-column{
    width: 20%;
}
.button{
    background-color: #e22bab;
    padding: 10px;
    border: 0px;
    border-radius: 1px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}
.item-element{
    width: 49%;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 6px;
    box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.36);
-webkit-box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.36);
-moz-box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.36);
    display: flex;
}
.item-element-content{
    width: 80%;
}
.item-element-content h2{
    font-size: 15px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
}
.button-action{
    background-color: transparent;
    padding: 10px;
    border-radius: 6px;
    border: 0px;
    color: #e22bab;
    margin-top: 8px;
}
@media (max-width: 700px) {
    .container-list{
        max-width: 800px;
        width: 100%;
        background-color: white;
        height: 600px;
        margin: 0 auto;
        margin-top: 50px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    .header-first-column{
        width: 60%;
    }
    .header-second-column{
        width: 40%;
    }
    .item-element{
        width: 100%;
        margin-bottom: 10px;
        height: 50px;
        border-radius: 6px;
        box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.36);
-webkit-box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.36);
-moz-box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.36);
        display: flex;
    }

}